.passwordRecovery {
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: rgb(0, 0, 0, .5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.recoveryMenu {
   background-color: #eee;
   padding: 40px;
   border-radius: 15px;
   width: 480px;
   position: relative;
   position: fixed;
}

.containerRecovery {
   background-color: #eee;
   padding: 30px;
   border-radius: 15px;
   width: 500px;
}

.imageRecovery {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.imageRecovery img {
   width: 50px;
}

.imageRecovery h3 {
   font-size: 22px;
   margin: 5px;
}

.contentRecovery {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.contentRecovery p {
   margin-top: 30px;
   text-align: center;
}

.contentRecovery label {
   margin: 30px 0 10px 5px;
   text-align: start;
}

.contentRecovery input {
   padding: 10px;
   background: transparent;
   border-radius: 5px;
   border: 1px solid grey;
   margin: 5px 0;
}

.contentRecovery p {
   font-size: 16px;
}

.buttonRecovery {
   display: flex;
   flex-direction: column;
   margin: 30px 0 0 0;
}

.buttonRecovery button {
   padding: 10px;
   cursor: pointer;
}

.continiue {
   background-color: var(--first-color);
   border-radius: 20px;
   font-size: 18px;
   font-weight: 600;
   color: #ffffff;
}

.back {
   font-weight: 400;
   font-size: 16px;
}