@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.createAccount {
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: rgb(0, 0, 0, .5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.createrMenu {
   background-color: #eee;
   padding: 40px;
   border-radius: 15px;
   width: 480px;
   position: relative;
   position: fixed;
}

.createrMenu h2 {
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 20px;
   font-family: Open Sans;
}

.createrMenu p {
   text-align: center;
   color: #858585;
}

.createrMenu .close {
   position: absolute;
   top: 40px;
   right: 40px;
   cursor: pointer;
}

.createrMenu .close img {
   width: 15px;
}

.createrMenu form {
   display: flex;
   flex-direction: column;
   gap: 5px;
   color: #858585;
}

.createrMenu form label {
   margin: 20px 0 5px 0;
}

.createrMenu form>input {
   width: 100%;
   padding: 10px 15px;
   border: 1px solid gray;
   border-radius: 7px;
   background: transparent;
}

.checkAgree {
   display: flex;
   align-items: center;
   margin: 10px 0;
   gap: 10px;
}

.submitBtn {
   display: flex;
   justify-content: center;
   margin: 10px auto;
   width: 100%;
}

.submitBtn button {
   background-color: var(--first-color);
   padding: 10px 0;
   width: 100%;
   border-radius: 23px;
   font-size: 22px;
   color: #ffffff;
   cursor: pointer;
}

.submitWithGoogle {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 10px auto;
   width: 100%;
}

.submitWithGoogle button {
   border: 1px solid var(--first-color);
   padding: 10px 0;
   width: 100%;
   border-radius: 23px;
   font-size: 22px;
   color: #858585;
   cursor: pointer;
}

.submitWithGoogle h5 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   gap: 6px;
}

.submitWithGoogle h5>p {
   color: var(--first-color);
   cursor: pointer;
}